<div id="control_bar">
    <app-control-bar-widget-slider
        [label]="'S'"
        [units]="'px'"
        [defaultValue]="96"
        [max]="120"
        [min]="80"
        [step]="1"
        (value)="handleFontSize($event)"></app-control-bar-widget-slider>

    <app-control-bar-widget-slider
        [label]="'LH'"
        [units]="'px'"
        [defaultValue]="100"
        [max]="124"
        [min]="84"
        [step]="1"
        (value)="handleLineHeight($event)"></app-control-bar-widget-slider>
</div>
