#control_bar {
    display: block;
    clear: both;
    overflow: hidden;
    margin-bottom: 80px;
    background-color: #fafafa;
    padding: 30px 40px;
}

.widget {
    display: block;
    float: left;
    margin-left: 40px;
}
