<div class="style-changer">
    <select
        [hidden]="!styleChangerVisible"
        (change)="fontPreview.style.fontFamily = generateFontFamily($event.target.value)">
        <option *ngFor="let style of font.styles" [selected]="style === font.list.preview.style">
            {{style}}
        </option>
    </select>
</div>

<div #fontPreview
     class="font-preview"
     contenteditable="true"
     spellcheck="false"
     [style.font-family]="generateFontFamily()"
     [style.font-size.px]="controlBar.fontSize"
     [style.line-height.px]="controlBar.lineHeight"
     [style.letter-spacing.px]="controlBar.letterSpacing"
     (focus)="styleChangerVisible = true"
>
    {{font.list.preview.text}}
</div>

<a routerLink="/fonts/{{font.slug}}">
    <span class="arrow">?</span>
    <span class="info">
        <span class="font-name">{{font.name}}</span>
        <span class="font-styles">
            {{font.styles.length}} Styles
            <ng-container *ngIf="font.stylesFree.length > 0"> / {{font.stylesFree.length}} Free</ng-container>
        </span>
    </span>
</a>
