.style-changer {
    display: block;
    clear: both;
    height: 20px;
    margin-bottom: 10px;
}

.style-changer select {
    border: 0 none;
    outline: none;
}

.font-preview {
    display: block;
    width: 100%;
    min-height: 200px;
    padding: 0;
    outline: none;
}

a {
    display: block;
    clear: both;
    overflow: hidden;
    margin-top: 10px;
}

.arrow {
    display: block;
    float: left;
    width: 45px;
    height: 45px;
    font-size: 24px;
    text-align: center;
    border: 3px solid #1a1a1a;
    border-radius: 50%;
    line-height: 43px;
    box-shadow: #1a1a1a 1px 2px 0px;
    margin-bottom: 2px;
    transition: all 0.2s ease;
}

:host-context(.wide-wrapper.inverted) .arrow {
    border: 3px solid #ffffff;
    box-shadow: #ffffff 1px 2px 0px;
}

.info {
    display: block;
    float: left;
    margin-left: 12px;
    overflow: hidden;
    font-size: 14px;
    margin-top: 8px;
}

.info .font-name {
    display: block;
    font-weight: 600;
    margin-bottom: 3px;
}

.info .font-styles {
    display: block;
    clear: both;
    font-weight: 100;
}
