<ng-container *ngIf="font$ | async as font">
    <h2>{{font.name}}</h2>
    <ul id="font-tabs">
        <li>
            <div (click)="showTab('styles')">Styles</div>
        </li>
        <li>
            <div (click)="showTab('details')">Details</div>
        </li>
        <li>
            <div (click)="showTab('inspiration')">Inspiration</div>
        </li>
        <li>
            <div (click)="showTab('try')">Try</div>
        </li>
    </ul>

    <ng-container [ngSwitch]="visibleTab">
        <app-font-detail-styles *ngSwitchCase="'styles'" [font]="font"></app-font-detail-styles>
        <app-font-detail-details *ngSwitchCase="'details'"></app-font-detail-details>
        <app-font-detail-inspiration *ngSwitchCase="'inspiration'"></app-font-detail-inspiration>
        <app-font-detail-try *ngSwitchCase="'try'"></app-font-detail-try>
    </ng-container>

</ng-container>
