.label {
    font-size: 14px;
}

::ng-deep .mat-accent.mat-slider-horizontal {
    min-width: 116px;
    padding-top: 0px;
    margin-top: -10px;
    padding-left: 0px;
    margin-left: -7px;
}

::ng-deep .mat-accent .mat-slider-thumb,
::ng-deep .mat-accent.mat-slider-min-value:not(.mat-slider-thumb-label-showing) .mat-slider-thumb {
    background-color: #1a1a1a;
}

::ng-deep .mat-accent.mat-slider:not(.mat-slider-disabled).cdk-mouse-focused.cdk-focused .mat-slider-thumb {
    transition: none;
    transform: scale(.7);
}

::ng-deep .mat-accent .mat-slider-track-background {
    background-color: #cdcdcd;
}

::ng-deep .mat-accent.mat-slider:not(.mat-slider-disabled).cdk-mouse-focused.cdk-focused .mat-slider-track-background {
    transform: none !important;
}

::ng-deep .mat-accent .mat-slider-track-fill {
    background-color: #1a1a1a;
}
