header {
    display: block;
    clear: both;
    overflow: hidden;
    margin: 80px 0px;
}

#logo {
    display: block;
    float: left;
    overflow: hidden;
    width: 34px;
    height: 26px;
}

app-breadcrumb {
    display: block;
    float: left;
}

nav {
    display: block;
    float: right;
}

nav ul {
    display: flex;
}

nav ul li {
    margin-left: 30px;
}

nav ul li a {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 2px;
    display: block;
    padding-bottom: 2px;
}

nav ul li a.active {
    border-bottom: 2px solid #1a1a1a;
}

footer {
    background-color: #fafafa;
    padding: 45px 0px;
    display: block;
    clear: both;
    overflow: hidden;
}

footer #copyright {
    display: block;
    float: left;
    font-size: 10px;
    letter-spacing: 2px;
}

footer .help {
    display: block;
    float: right;
    font-size: 14px;
    border: 1px solid #1a1a1a;
    border-radius: 50%;
    box-shadow: #1a1a1a 1px 2px 0px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 22px;
}
