<header>
    <div class="main-wrapper">
        <a id="logo" routerLink="/">
            <img src="../assets/logo.svg" alt="Tinkov.info" width="34px" height="26px" />
        </a>
        <app-breadcrumb></app-breadcrumb>
        <nav>
            <ul>
                <li>
                    <a routerLink="/fonts" routerLinkActive="active">Fonts</a>
                </li>
                <li>
                    <a href="#" routerLinkActive="active">Info</a>
                </li>
                <li>
                    <a href="#" routerLinkActive="active">User</a>
                </li>
                <li>
                    <a href="#" routerLinkActive="active">Cart</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<main>
    <router-outlet></router-outlet>
</main>
<footer>
    <div class="main-wrapper">
        <div id="copyright">&copy; {{now | date:'yyyy'}} Tinkov</div>
        <a href="#" class="help">?</a>
    </div>
</footer>
