<header>
    <a routerLink="/">
        LOGO
    </a>
    <app-breadcrumb></app-breadcrumb>
    <nav>
        <ul>
            <li>
                <a routerLink="/fonts">Fonts</a>
            </li>
            <li>
                <a href="#">Info</a>
            </li>
            <li>
                <a href="#">User</a>
            </li>
            <li>
                <a href="#">Cart</a>
            </li>
        </ul>
    </nav>
</header>
<main>
    <router-outlet></router-outlet>
</main>
<footer>
    <div id="copyright">&copy; {{now | date:'yyyy'}} Tinkov</div>
    <div class="help">HELP ICON</div>
</footer>
