.wide-wrapper {
    background-color: #ffffff;
    display: block;
    clear: both;
    overflow: hidden;
    transition: background-color 0.2s ease;
}

.wide-wrapper.inverted {
    background-color: #1a1a1a;
}

ul {
    display: flex;
    margin-top: 80px;
    flex-wrap: wrap;
    justify-content: space-between;
}

li {
    width: 500px;
    margin-bottom: 85px;
    color: #1a1a1a;
    transition: color 0.2s ease;
    word-wrap: break-word;
}

.wide-wrapper.inverted li {
    color: #ffffff;
}

@media screen and (max-width: 1217px) {
    li {
        width: 100%;
    }
}
