ul {
    display: block;
    clear: both;
    overflow: hidden;
    margin-left: -200px;
}

li {
    display: block;
    float: left;
    width: 500px;
    margin-bottom: 85px;
    margin-left: 200px;
}
