<div class="main-wrapper">
    <h2>Fonts</h2>
    <app-control-bar #controlbar></app-control-bar>
    <ul>
        <li *ngFor="let font of fonts">
            <div class="font-preview" contenteditable="true"
                 [style.font-family]="[font.name, 'sans-serif']"
                 [style.font-weight]="font.list.preview.weight"
                 [style.font-style]="font.list.preview.style"
                 [style.font-size.px]="controlbar.fontSize"
                 [style.line-height.px]="controlbar.lineHeight">
                {{font.list.preview.text}}
            </div>

            <a routerLink="/fonts/{{font.slug}}">
                <span class="arrow">?</span>
                <span class="info">
                    <span class="font-name">{{font.name}}</span>
                    <span class="font-styles">{{font.styles.length}} Styles / {{font.stylesFree.length}} Free</span>
                </span>
            </a>

        </li>
    </ul>
</div>
