@font-face {
    font-family: "OneSans";
    src: url('assets/fonts/OneSans/OneSans-Regular.eot');
    src: url('assets/fonts/OneSans/OneSans-Regular.woff') format('woff'),
    url('assets/fonts/OneSans/OneSans-Regular.woff2') format('woff2'),
    url('assets/fonts/OneSans/OneSans-Regular.ttf') format('truetype'),
    url('assets/fonts/OneSans/OneSans-Regular.otf') format('opentype');
}

html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'OneSans', sans-serif;
    font-weight: normal;
    color: #1a1a1a;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h2 {
    font-size: 48px;
    font-weight: 400;
    margin-top: 0px;
    line-height: 48px;
    margin-bottom: 45px;
}


ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.main-wrapper {
    margin: 0 auto;
    width: 1200px;
}
